.component-container{
    height: 100%;
    width: 100%;
}

.trackId-container{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#trackid-field{
    width: 25%;
    background-color: red;

}

#track-btn{
    margin-left: 15px;
}

.tracker-detail{
    .tname {
        font-weight: bold;
    }
    .tvalue{
        
    }
}